.enviar {
  width: 40%;
  padding: 15px 0;
  background: orange;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.enviar:hover {
  background: darkorange;
  transition: 1s all;
  transform: scale(1.2);
}
