@media screen and (max-width: 480px) {
  .caixa,
  .principal,
  .conteudo-beneficios,
  .mapa-conteudo,
  .video {
    width: auto;
  }

  h1 {
    text-align: center;
  }

  nav {
    position: static;
    border: 1px solid red;
    font-size: 8px;
  }

  .lista-beneficios,
  .imagem-beneficios {
    width: 100%;
  }
}
