@media screen and (max-width: 480px) {
  /* PAGINA HOME */
  .caixa,
  .principal,
  .conteudo-beneficios,
  .mapa-conteudo,
  .video {
    width: auto;
  }

  h1 {
    text-align: center;
  }

  nav {
    position: static;
    font-size: 8px;
  }

  .lista-beneficios,
  .imagem-beneficios {
    width: 100%;
  }

  /* PAGINA PRODUTOS */

  .produtos {
    width: 100%;
  }

  .produtos li {
    width: auto;
    padding: 3px;
    margin: 14%;
  }
}
