body {
  font-family: "Montserrat", sans-serif;
}

header {
  background: #bbbbbb;
  padding: 20px 0;
}

.caixa {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

nav {
  position: absolute;
  top: 110px;
  right: 0;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover {
  color: #c78c19;
  text-decoration: underline;
}

.produtos {
  width: 940px;
  margin: 0 auto;
  padding: 50px 0;
}

.produtos li {
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 0 1.5%;
  box-sizing: border-box;
  border: 2px solid #000;
  border-radius: 10px;
}

.produtos li:hover {
  border-color: #c78c19;
}

.produtos li:active {
  border-color: #088c19;
}

.produtos li:hover h2 {
  font-size: 34px;
}

.produtos h2 {
  font-size: 30px;
  font-weight: bold;
}

.produto-descricao {
  font-size: 18px;
  padding: 30px 20px;
}

.produto-preco {
  font-size: 22px;
  font-weight: bold;
  padding: 10px;
}

footer {
  text-align: center;
  background: url("../image/bg.png");
  padding: 40px 0;
}

.copyright {
  color: #fff;
  font-size: 13px;
}

main {
  width: 940px;
  margin: 0 auto;
}

form {
  margin: 40px 0;
}

form label,
form legend {
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
}

.input-padrao {
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%;
}

.input-padrao {
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%;
}

.checkbox {
  margin: 20px 0;
}

/* css pagina inicio */
.banner {
  width: 100%;
}

.titulo-principal {
  text-align: center;
  font-size: 2em;
  margin: 0 0 1em;
  clear: left;
}

.principal p {
  margin: 0 0 1em;
}

.principal strong {
  font-style: bold;
}

.principal em {
  font-style: italic;
}

.imagem-beneficios {
  width: 60%;
}

.utensilios {
  width: 120px;
  float: left;
  margin: 0 20px 20px 0;
}
